analysis_result/
__pycache__/
databases/
test/
build/
!brave/frontend/build 
brave.egg-info/
brave.egg-info/** 
README.bak.md
literature/
pipeline/
test.py
pybrave.egg-info/
dist
pybrave-pipeline
test.json
pipeline-dev/
nextflow_dev/
.vscode/launch.json
pipeline-dev2/
.history/
__init__.pyc
nf-hello/
development/
data/
.nfs*
taxonomy/
a.json
desc2025.xml
mesh.nt.gz
brave.log
pubmed.xml
*.kgml